version: "3.9"

services:
  backend:
    build:
      context: ..
      dockerfile: environments/Dockerfile
    container_name: ecopackai-backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/ecopackai_db

  db:
    image: postgres:14
    container_name: ecopackai-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ecopackai_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
  image: dpage/pgadmin4
  container_name: ecopackai-pgadmin
  environment:
    PGADMIN_DEFAULT_EMAIL: admin@admin.com
    PGADMIN_DEFAULT_PASSWORD: admin
  ports:
    - "8080:80"
  depends_on:
    - db


volumes:
  postgres_data:
